@font-face {
  font-family: "DINPro-Regular";
  font-display: swap;
  src: url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "DINPro-Regular", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "DINPro-Regular", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._free .page__pagination {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(50px, -50%);
      -ms-transform: translate(50px, -50%);
          transform: translate(50px, -50%);
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 10px;
  background: url("../img/slide/slide01-mob.jpg") center top/cover no-repeat;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header._hide {
  opacity: 0;
  visibility: hidden;
}

.header._small {
  height: 60px;
  background: url("../img/slide/slide02.jpg") center top/cover no-repeat;
}

.header._small .header__contacts {
  display: none;
}

.header._small .menu {
  top: 60px;
  min-height: calc(100vh - 60px);
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  width: 130px;
}

.header__logo img {
  width: 100%;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  padding: 5px 0 5px 25px;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__contact_phone {
  background: url("../img/icon/phone.png") left center/17px 17px no-repeat;
}

.header__contact_mail {
  background: url("../img/icon/mail.png") left center/17px 12px no-repeat;
}

.header__contact:hover {
  color: #e73e14;
}

.header__burger {
  position: relative;
  display: block;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 2px);
  right: 0px;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #e73e14;
  border-radius: 20px;
}

.header__burger span:first-child {
  top: 0px;
  width: 25px;
  background-color: #fff;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0px;
  width: 25px;
  background-color: #fff;
}

.header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span:first-child {
  width: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 2px);
  background-color: #e73e14;
}

.header__burger._active span:last-child {
  width: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 2px);
  background-color: #e73e14;
}

.menu {
  position: fixed;
  z-index: 40;
  left: 0;
  top: 120px;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: url("../img/slide/slide02.jpg") center top/cover no-repeat;
}

.menu._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu__link {
  display: inline-block;
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link:hover {
  color: #e73e14;
}

.menu__link_hide {
  display: none;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__pagination {
  display: none;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__bullet {
  display: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page__bullet_active {
  background-color: #000;
}

.page__scroll {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  cursor: pointer;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.screen_01 .screen__content {
  padding: 130px 10px 10px 10px;
}

.screen_02 .screen__image {
  background-color: #fa4616;
}

.screen_02 .screen__content {
  padding: 10px 10px 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen__content {
  min-height: 100%;
  padding: 70px 10px 10px 10px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-screen__column {
  position: relative;
  z-index: 3;
}

.main-screen__title {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 700;
  font-family: "HelveticaNeue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #e73e14;
}

.main-screen__text {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.main-screen__title-image {
  margin: 40px 0;
  text-align: center;
}

.main-screen__title-image img {
  width: 100%;
}

.main-screen__image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.main-screen__image img {
  width: 650px;
}

.about-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-screen__icon {
  margin-bottom: 30px;
}

.about-screen__icon img {
  max-width: 170px;
}

.about-screen__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HelveticaNeue", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.about-screen__text {
  max-width: 640px;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #000;
}

.item-about {
  margin-bottom: 20px;
  text-align: center;
}

.item-about__image {
  position: relative;
  margin-bottom: 30px;
  padding-top: 68%;
}

.item-about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.item-about__icon {
  margin-bottom: 20px;
}

.item-about__icon img {
  max-width: 120px;
}

.item-about__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  font-family: "HelveticaNeue", sans-serif;
}

.item-about__title_or {
  color: #e73e14;
}

.item-about__text {
  font-size: 16px;
  line-height: 110%;
  text-align: center;
}

.menu-screen__title {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 110%;
  font-family: "HelveticaNeue", sans-serif;
  text-transform: uppercase;
}

.menu-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.menu-screen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0 20px;
}

.menu-screen__image img {
  max-width: 100%;
}

.menu-screen__title-list {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 110%;
  font-family: "HelveticaNeue", sans-serif;
  text-transform: uppercase;
}

.menu-screen__title-list_hide {
  opacity: 0;
  display: none;
}

.elem-menu {
  margin-bottom: 10px;
}

.elem-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.elem-menu__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 30px 3px 0;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #e73e14;
  border-bottom: 1px dotted #e73e14;
}

.elem-menu__cost {
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
}

.elem-menu__description {
  font-size: 14px;
  line-height: 110%;
  color: #666;
}

@media (min-width: 767.98px) {
  .header {
    height: 80px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0 20px;
  }

  .header._small {
    height: 80px;
  }

  .header._small .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header._small .menu {
    top: 80px;
    min-height: auto;
  }

  .header__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__contact_phone {
    padding-right: 20px;
  }

  .header__burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu {
    top: 80px;
    min-height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0, -250%);
        -ms-transform: translate(0, -250%);
            transform: translate(0, -250%);
    padding: 10px 20px;
  }

  .menu__link {
    margin: 10px 20px 10px 0;
  }

  .menu__link:last-child {
    margin: 10px 0;
  }

  .screen_01 .screen__content {
    padding: 100px 20px 20px 20px;
  }

  .screen_02 .screen__content {
    padding: 20px 20px 20px 20px;
  }

  .screen__content {
    padding: 100px 20px 20px 20px;
  }

  .main-screen__title-image img {
    width: 70%;
  }

  .about-screen__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }

  .about-screen__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    padding: 0 15px;
  }

  .menu-screen__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .menu-screen__column_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .menu-screen__title-list_hide {
    display: block;
  }
}

@media (min-width: 991.98px) {
  .header {
    padding: 0 40px;
  }

  .menu {
    padding: 10px 40px;
  }

  .screen_01 .screen__content {
    padding: 100px 40px 40px 40px;
  }

  .screen_02 .screen__content {
    padding: 320px 40px 40px 40px;
  }

  .screen__content {
    padding: 100px 40px 40px 40px;
  }

  .main-screen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-screen__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-screen__column_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .main-screen__column_1 .main-screen__title,
  .main-screen__column_1 .main-screen__text {
    text-align: left;
  }

  .main-screen__column_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-screen__column_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .main-screen__column_3 .main-screen__title,
  .main-screen__column_3 .main-screen__text {
    text-align: right;
  }

  .main-screen__title {
    font-size: 48px;
  }

  .main-screen__title-image {
    margin-top: -20%;
  }

  .main-screen__image {
    display: block;
  }
}

@media (min-width: 1279.98px) {
  .header {
    padding: 0 80px;
  }

  .menu {
    padding: 10px 80px;
  }

  .screen_01 .screen__content {
    padding: 100px 80px 80px 80px;
  }

  .screen_02 .screen__content {
    padding: 320px 80px 80px 80px;
  }

  .screen__content {
    padding: 100px 80px 80px 80px;
  }

  .main-screen__column_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }

  .main-screen__column_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }

  .about-screen__body {
    margin: 0 -45px;
  }

  .about-screen__item {
    padding: 0 45px;
  }

  .menu-screen__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .menu-screen__column_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}